specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: CowProtocolToken
    network: {{ network }}
    source:
      address: "{{ address }}"
      abi: CowProtocolToken
      startBlock: {{ startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Transfer
      abis:
        - name: CowProtocolToken
          file: ./abis/CowProtocolToken.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: {{ transferHandler }}
      file: ./src/mapping.ts
